* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #C4C4C4;
}
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700;800&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

.hide {
    display: none;
}

header {
    background-color: rgba(0, 0, 0, 0.822);
    height: 30px;
}
.encabezado {
    position: relative;
    top: 25%;
    font-size: 12px;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    height: 50px;
    background-color:  rgba(0, 0, 0, 0.822);
    color: white;
}

.rrss{
    color: white;
    text-shadow:
		0 0 5px rgb(17, 221, 194),
		0 0 10px rgba(43,199,151,1),
		0 0 20px rgba(17, 221, 194,1),
		0 0 40px rgba(43,199,151,1),
		0 0 80px rgba(17, 221, 194,1),
		0 0 90px rgba(43,199,151,1),
		0 0 100px rgba(17, 221, 194,1),
		0 0 140px rgba(43,199,151,1),
		0 0 180px rgba(17, 221, 194,1);
    margin: 15px 30px;
}

.rrss:hover{
    color: white;
    text-shadow:
		0 0 5px rgb(152, 3, 252),
		0 0 10px rgb(190, 100, 250),
		0 0 20px rgba(152, 3, 252,1),
		0 0 40px rgba(190, 100, 250,1),
		0 0 80px rgba(152, 3, 252,1),
		0 0 90px rgba(190, 100, 250,1),
		0 0 100px rgba(152, 3, 252,1),
		0 0 140px rgba(190, 100, 250,1),
		0 0 180px rgb(152, 3, 252);
    margin: 15px 30px;
}

.copyright{
    color: white;
    margin: 15px 30px;
    font-family: 'Quattrocento Sans', sans-serif;
    
}

.izquierdo {
    width: 50%;
    background-color: rgb(128,81,223);
    height: 100vh;
}

.derecho {
    width: 50%;
    background-color: rgb(43,199,151);
    height: 100vh;
}

.duda{
    position: relative;
    left: 200px;
    width: 50%;
    top:50px;
    transform: rotate(20deg);
}

.cifrado{
    position: relative;
    width: 28%;
    left: 90px;
    top: 140px;
}

.pag1 {
    display: -webkit-flex;
    position: relative;
}

.formulario {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 35%;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.89);
    border-radius: 40px;
    
}

.titulo {
    margin: 40px 150px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    
}

.icono {
    margin-right: 5px;
}
.item{
    position: relative;
    left: 10%;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.contenedor{
    position: absolute;
    left: 5%;
    font-family: sans-serif;
    font-size: 10px;
    bottom: 105px;
    color: orangered;
}

.entrada {
    position: relative;
    width: 90%;
    height: 30px;
    left: 5%;
    margin-bottom: 50px;
    border-style: none;
    background: #C4C4C4;
    border-radius: 5px;
    outline-style: none;
    text-indent: 10px;
}

.siguiente {
    background-color: rgb(128,81,223);
    position: relative;
    top: -10px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border-style: none;
    left: 41%;
    cursor: pointer;
    outline-style: none;
}

.siguiente:hover {
    background-color: rgb(43,199,151);
}
.next {
    font-size: 22px;
    color: white;
}

/* Estilos Pagina2 */

.pag2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 600px;
    background-color: white;
    font-family: 'Righteous', cursive;
    font-family: 'Prompt', sans-serif;

}

.espaciado{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: springgreen ;
    width: 90%;
    height: 50px;
    margin: auto;
    
}

.ayuda{
    cursor: pointer;
}

.fila1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    width: 50%;
    height: 40px;

}

.fila2{
    display: flex;
    justify-content: center;
    width: 35%;
    /* background-color: cornflowerblue; */
}

.boceto{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: yellowgreen; */
    width: 90%;
    height: 530px;
    margin: auto;
}

.numero{
    border-style: none;
    padding: 5px;
    box-shadow: 0 0 15px 0 gray;
    border: gray solid 1px;
       
}

.espacio{
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(33, 33, 33);
}

.subtitulo{
    border-top: springgreen solid 2px;
    border-bottom: springgreen solid 2px;
    padding: 5px;
    color: rgb(34, 103, 156);
    font-weight: bolder;
}

.columna1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border:rgb(189, 85, 230) solid 2px;
    border-radius: 15px;
    height: 500px;
    width: 40%;
}

.box{
    resize:none;
    background-color: rgb(206, 206, 204);
    text-indent: 10px;

}

.limpiar{
    background-color: rgb(182, 19, 231);
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    border-style: none;
    background-color: rgb(21, 212, 155);
    border-radius: 5px;
    padding: 2% 8%;
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(182, 19, 231);
    color: white;
    font-weight: bolder;
}

#exit {
    color: tomato;
    cursor: pointer;
}

.fondo{
    width: 500px;
    background-color: yellow;
    height: 300px;
    position: absolute;
    top: 200px;
    right: 420px;
}

.contenidoModal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* z-index: 1; */
    /* overflow: auto; */
    display: flex;
	align-items: center;
    justify-content: center;
}


@media only screen and (max-width:768px) {
    
/* pagina 1 estilos */

.formulario {
    position: absolute;
    width: 300px;
    height: 500px;
    left: 30px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.89);
    border-radius: 40px;
    
}

.titulo {
    margin: 40px 100px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    
}

.icono {
    margin-right: 5px;
}
.item{
    position: relative;
    left: 10%;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.contenedor{
    position: absolute;
    left: 5%;
    font-family: sans-serif;
    font-size: 10px;
    bottom: 105px;
    color: orangered;
}

.entrada {
    position: relative;
    width: 90%;
    height: 30px;
    left: 5%;
    margin-bottom: 50px;
    border-style: none;
    background: #C4C4C4;
    border-radius: 5px;
    outline-style: none;
    text-indent: 10px;
}

.siguiente {
    background-color: rgb(128,81,223);
    position: relative;
    top: -10px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border-style: none;
    left: 41%;
    cursor: pointer;
    outline-style: none;
}

.siguiente:hover {
    background-color: rgb(43,199,151);
}
.next {
    font-size: 22px;
    color: white;
}

.duda{
    position: relative;
    left: 15%;
    width: 50%;
    top:570px;
    transform: rotate(20deg);
}

.cifrado{
    position: relative;
    width: 35%;
    top: 600px;
    left: 5%;
}


/* pagina 2 estilos */
    
    .pag2 {
        display: flex;
        width: 90%;
        height: 1250px;
        background-color: white;
        font-family: 'Righteous', cursive;
        font-family: 'Prompt', sans-serif;
    
    }
    
    .espaciado{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: springgreen ;
        width: 90%;
        height: 150px;
        
        
    }
    
    .fila1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: blue; */
        width: 80%;
        height: 80px;
    
    }

    .espacio{
        font-family: 'Manjari', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: rgb(33, 33, 33);
    }

    .ayuda{
        cursor: pointer;
    }
    
    .fila2{
        display: flex;
        justify-content: center;
        width: 35%;
        /* background-color: cornflowerblue; */
    }
    
    .boceto{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        /* background-color: yellowgreen; */
        width: 90%;
        height: 1100px;
        /* margin: auto; */
    }
    
    
    
    .columna1{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);
        border: rgb(189, 85, 230) solid 2px;
        border-radius: 15px;
        width: 100%;
       
    }

    
    .limpiar{
        background-color: rgb(182, 19, 231);
        color: white;
        padding: 10px;
        border-radius: 20px;
    }
    
    .btn {
        border-style: none;
        background-color: rgb(21, 212, 155);
        border-radius: 5px;
        padding: 2% 8%;
    }

    .btn:hover {
        background-color:rgb(182, 19, 231);
        color: white;
        font-weight: bolder;
    }


    .box{
        width: 95%; 
        background-color: rgb(206, 206, 204);
        text-indent: 10px;    
    }

        
    header {
        background-color: rgba(0, 0, 0, 0.822);
        height: 30px;
    }
    .encabezado {
        position: relative;
        top: 25%;
        font-size: 12px;
        color: white;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
        background-color:  rgba(0, 0, 0, 0.822);
        color: white;
        display: flex;
    
    }
    
    .rrss{
        color: white;
        text-shadow:
            0 0 5px rgb(17, 221, 194),
            0 0 10px rgba(43,199,151,1),
            0 0 20px rgba(17, 221, 194,1),
            0 0 40px rgba(43,199,151,1),
            0 0 80px rgba(17, 221, 194,1),
            0 0 90px rgba(43,199,151,1),
            0 0 100px rgba(17, 221, 194,1),
            0 0 140px rgba(43,199,151,1),
            0 0 180px rgba(17, 221, 194,1);
        margin: 15px 30px;
    }
    
    .rrss:hover{
        color: white;
        text-shadow:
            0 0 5px rgb(152, 3, 252),
            0 0 10px rgb(190, 100, 250),
            0 0 20px rgba(152, 3, 252,1),
            0 0 40px rgba(190, 100, 250,1),
            0 0 80px rgba(152, 3, 252,1),
            0 0 90px rgba(190, 100, 250,1),
            0 0 100px rgba(152, 3, 252,1),
            0 0 140px rgba(190, 100, 250,1),
            0 0 180px rgb(152, 3, 252);
        margin: 15px 30px;
    }
    
    .copyright{
        color: white;
        margin: 15px 30px;
        font-family: 'Quattrocento Sans', sans-serif;
        
    }
    
    .izquierdo {
        width: 50%;
        background-color: rgb(128,81,223);
        height: 115vh;
    }
    
    .derecho {
        width: 50%;
        background-color: rgb(43,199,151);
        height: 115vh;
    }
    
    
}